.container {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.75rem;
    height: 2.5rem;
    border: 2px solid #e056fd;
    border-radius: 0.625rem;
    text-align: center;
    text-align-last: center;
}